<h1>Write your new post</h1>

<%= form_for @post do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %><br/><br/>

    
    <%= f.label :story %>
    <%= f.text_area :body %><br/><br/>

    <%= f.submit "Post your story" %>
<% end %>